@model DoceriaGestao.Models.Insumo;









@{
    ViewData["Title"] = "Excluir Produto";
}


<div class="container mt-4">
    <div class="card border-danger shadow"> 
        <div class="card-header bg-danger text-white">
            <h3 class="card-title mb-0"> Confirmar Exclusão</h3>
        </div>
    </div>
    <div class="card-body">
        <p class="lead">Você tem certeza que deseja excluir este Produto?</p>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Nome:</dt>
                <dd class="col-sm-9">@Model.NomeDoProduto</dd>
                <dt class="col-sm-3">Quantidade:</dt>
                
        </dl>

            <form asp-action="Delete">
             <input type="hidden" asp-for="Id"/>
             <button type="submit" class="btn btn-danger">Exlcuir Permanentemente</button>   
             <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </form>

    </div>
</div>